<div class="notebook">
  <h1>{{notebookDetail.title}}</h1>

  <img src="{{notebookDetail.img}}" alt="{{notebookDetail.title}}" />
  <p>{{notebookDetail.descr}}</p>
  <p class="price big">{{notebookDetail.price}}</p>
</div>